.background{
    //-fx-background-color: radial-gradient(focus-distance 0% , center 50% 50% , radius 180% , whitesmoke, cornflowerblue);
}

.label{
    -fx-font-size: 11pt;
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: black;
}

.menu-bar{
    //-fx-background-color: lightgray /*linear-gradient(lightblue, dodgerblue)*/;
}

.table-view{
    -fx-vertical-grid-lines-visible: false;
}

.table-view .table-cell{
    //-fx-background-color: linear-gradient(lightblue, cornflowerblue);
    -fx-font-family: "Comic Sans MS";
}

.table-view .table-cell:empty{
    //-fx-background-color: lightgray;
    -fx-border-width: 0%;
}

.list-view .list-cell{
    //-fx-background-color: linear-gradient(lightblue, cornflowerblue);
    -fx-font-family: "Comic Sans MS";
}

/*.list-view .list-cell:empty{
    -fx-background-color: lightgray;
}*/

